/* Created by Rohan Kumar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.sec1 {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 700px;
  right: 40px;
  height: 50px;
  font-size: 3rem;
  width: 50px;
  background: #6bd5e1;
  color: #fff;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  cursor: pointer;
  transition: 0.3s;
}
#scroller.active {
  visibility: visible;
  opacity: 1;
  bottom: 40px;
}

.navbar2 {
  position: fixed;
  top: -70%;
  left: 0;
  height: 40%;
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.3);
  z-index: 500;
  transition: 1s;
}
.navbar2.active {
  top: 10%;
}
.navbar2 ul {
  list-style-type: none;
}
.navbar2 ul li {
  margin: 2rem 0;
}
.navbar2 ul li a {
  text-transform: uppercase;
  color: #6bd5e1;
  font-size: 3rem;
  text-decoration: none;
  transition: 0.3s;
}
.navbar2 ul li a:hover {
  color: #2bff22;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2rem 1rem;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 1000;
}
.menu {
  display:none;
  width: 6rem;
  background: #6bd5e1;
  padding: 2rem;
  transition: 0.5s;
}
.menu.active {
  transform: rotateZ(90deg);
}
.menu img {
  width: 100%;
  object-fit: cover;
}
.nav .logo {
  width: 15rem;
}
.nav .logo img {
  width: 100%;
  object-fit: cover;
}
.nav .navbar ul {
  display: flex;
  list-style-type: none;
}
.nav .navbar ul li {
  margin: 0 1.5rem;
}
.nav .navbar ul li a {
  text-transform: none;
  text-decoration: none;
  color: #333333;
  font-size: 1.5rem;
  font-weight: 800;
  transition: 0.3s;
}
.nav .navbar ul li a:hover {
  color: #ffc977;
}

.nav .navbar ul li a i {
  color: #6bd5e1;
  transition: 0.3s;
}
.nav .navbar ul li a:hover i {
  color: #ffc977;
}
.sec1 .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 8rem 0 0 0;
  padding-top: 5rem;
}
.sec1 .container .content h1 {
  font-size: 5rem;
  color: #333;
}
.sec1 .container .content h3 {
  font-size: 2.5rem;
  color: #3f3f3f;
  font-weight: 200;
  margin: 2rem 0;
}
.sec1 .container .content h3 span {
  font-weight: 900;
}
.sec1 .container .content input {
  border: none;
  outline: none;
  background: none;
  box-shadow: 0 0 0.2rem #a8a8a8;
  width: 80%;
  padding: 1.3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: #333;
}
.sec1 .container .content input::placeholder {
  color: #8a8a8a;
  font-size: 2rem;
}
.sec1 .container .content button {
  border: none;
  outline: auto;
  background: #bb2796;
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
.sec1 .container .content button:hover {
  background: #ffc977;
}
.sec1 .container .sec1_gif {
  width: 30%;
}
.sec1 .container .sec1_gif img {
  width: 100%;
  object-fit: cover;
}
.trusted_company {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
.trusted_company h2 {
  color: #585858;
  font-size: 2rem;
}
.trusted_company .companies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
}
.trusted_company .companies .company {
  width: 15rem;
  margin: 0 2rem;
  cursor: pointer;
}
.trusted_company .companies .company img {
  width: 100%;
}
/*----section 1 ends-------*/

/*----section 2 starts-------*/
.sec2 {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  background: #ffd8eb;
}
.sec2 .sec2_head h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  color: #333;
}
.sec2 .container2 {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sec2 .container2 .card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 1rem;
  transition: 0.3s;
  margin: 2rem;
}
.sec2 .container2 .card:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.2);
}
.sec2 .container2 .card .svg {
  width: 35rem;
}
.sec2 .container2 .card .svg img {
  width: 100%;
  object-fit: cover;
}
.sec2 .container2 .card .content2 {
  margin-top: 2rem;
}
.sec2 .container2 .card .content2 h2 {
  font-size: 3rem;
  margin: 1rem 0;
  color: #333;
}
.sec2 .container2 .card .content2 h5 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #ff956b;
  text-transform: uppercase;
}
.sec2 .container2 .card .content2 p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #686868;
  text-transform: capitalize;
}
.sec2 .container2 .card .content2 h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #c7c7c7;
  text-transform: capitalize;
}
/*----section 2 ends here-------*/
/*----section 3 starts here-------*/
.sec3 {
  position: relative;
  height: auto;
  width: 100%;
  padding: 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.sec3 h1 {
  font-size: 4rem;
  color: #333;
}
.sec3 h3 {
  font-size: 2rem;
  font-weight: 300;
  color: #505050;
  margin: 2rem 0;
}
.sec3 img {
  width: 95%;
}
.sec3 h2 {
  font-size: 2rem;
  font-weight: 200;
  color: #777;
  margin: 2rem 0 1rem 0;
}
.sec3 ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.sec3 ul li {
  margin: 0 1rem;
}
.sec3 ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #2bff22;
}
/*----section 3 ends here-------*/
/*----section 4 starts here-------*/
.sec4 {
  position: relative;
  height: auto;
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background:  #ffd8eb;
  flex-wrap: wrap;
}
.sec4 .footer_col_1 .footer_logo {
  width: 15rem;
}
.sec4 .footer_col_1 .footer_logo img {
  width: 100%;
}
.sec4 .footer_col_1 h2 {
  font-size: 1.7rem;
  color: #777;
  font-weight: 200;
}
.sec4 .footer_col_2 h2 {
  font-size: 2rem;
  color: #333;
  font-weight: 200;
  margin-bottom: 3rem;
}
.sec4 .footer_col_2 .links ul {
  list-style-type: none;
}
.sec4 .footer_col_2 .links ul li {
  margin: 1rem 0;
}
.sec4 .footer_col_2 .links ul li a {
  font-size: 2rem;
  color: #777;
  cursor: pointer;
  transition: 0.3s;
}
.sec4 .footer_col_2 .links ul li a:hover {
  color: #333;
}
.sec4 .footer_col_3 h2 {
  font-size: 2rem;
  color: #333;
  font-weight: 200;
  margin-bottom: 3rem;
}
.sec4 .footer_col_3 .links ul {
  list-style-type: none;
}
.sec4 .footer_col_3 .links ul li {
  margin: 1rem 0;
}
.sec4 .footer_col_3 .links ul li a {
  font-size: 2rem;
  color: #777;
  cursor: pointer;
  transition: 0.3s;
}
.sec4 .footer_col_3 .links ul li a:hover {
  color: #333;
}
/*----section 4 ends here-------*/

/*----media query starts here------*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .trusted_company .companies .company {
    width: 13rem;
  }
}
@media (max-width: 683px) {
  html {
    font-size: 45%;
  }
  .trusted_company .companies .company {
    width: 11rem;
  }
  .menu {
    display: inline-block;
  }
  .nav .navbar ul {
    display: none;
    list-style-type: none;
  }
}
@media (max-width: 360px) {
  .sec1 .container .sec1_gif {
    width: 100%;
  }
  .trusted_company .companies {
    flex-wrap: wrap;
  }
  .trusted_company {
    margin-top: 4rem;
  }
  .sec2 .sec2_head h2 {
    margin-bottom: 4rem;

    font-size: 3rem;
  }
  .sec3 img {
    width: 100%;
  }
  .sec3 h1 {
    font-size: 3rem;
  }
  .sec3 ul li a {
    font-size: 2rem;
  }
  .sec3 ul {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .sec4 {
    flex-direction: column;
    align-items: center;
  }
  .sec4 .footer_col_2 h2 {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .sec4 .footer_col_2 .links ul {
    margin-bottom: 4rem;
  }
  .sec4 .footer_col_3 h2 {
    margin-bottom: 2rem;
    margin-right: 6rem;
  }
  .sec3 {
    padding: 5rem;
    padding-right: 8rem;
  }
  .nav .navbar ul {
    display: none;
    list-style-type: none;
  }
}
/*----media query ends here------*/
